
/* #region Header */
.header {  
  background-color: darkslategray;

  .navbar-brand {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: goldenrod;
  }


  .navbar-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    
    .navbar-links-buttons
    {
      display: inline-block;
      margin-right: 20px;
      margin-top: 2px;
      color: white;
      text-decoration: none;
      font-weight: bold;

      @media(max-width: 767px)
      {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .navbar-links-buttons:first-child
    {
      margin-left: 0;
    }

    .navbar-links-buttons:hover
    {
      color: goldenrod;
    }
  }


}

/* #endregion */

/* #region Content */

.content 
{
  padding: 20px;

  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .puzzle-container 
  {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  
    .puzzle-type
    {
      text-decoration: none;
      text-transform: uppercase;
      color: slategray;
      font-weight: bold;
    }

    .puzzle-description 
    {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .puzzle-info 
    {
      text-transform: capitalize;
    }

    .puzzle-author, .puzzle-likes 
    {
      font-size: 0.9rem;
    }

    .puzzle-actions 
    {
      gap: 10px;
    }

    .like-button 
    {
      background-color: darkslategray;
      color: #fff;
      border: 2px solid darkslategray;
      padding: 7px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-left: 0;

    }

    .like-button:hover 
    {
      background-color: white;
      border: 2px solid darkslategray;
      color: darkslategray;
      font-weight: bold;
    }

    .solve-button 
    {
      background-color: white;
      color: darkslategray;
      border: 2px solid darkslategray;
      padding: 7px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-left: 5px;
    }

    .solve-button:hover 
    {
      background-color: darkslategray;
      border: 2px solid darkslategray;
      color: white;
      font-weight: bold;
    }
  }
}

/* #endregion */

/* #region Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* #endregion */