
/* #region Header */
.header {  
  .navbar-brand {
    font-size: 1.5rem; /* Larger font size for the brand */
    padding-left: 12px;
  }

  .navbar-nav {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
  }

  .navbar-nav .nav-item {
    margin-left: 20px; /* Spacing between navigation items */
  }

  .nav-link {
    color: #ffffff; /* White color for navigation links */
    transition: color 0.3s; /* Smooth color transition on hover */
  }

  .nav-link:hover {
    color: #adb5bd; /* Lighter gray color on hover */
  }

}

/* #endregion */

/* #region Content */


/* components.css */

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 10px;
}

.post video {
  width: 100%;
  border-radius: 8px;
}

.post button {
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post button:hover {
  background-color: #0056b3;
}



/* #endregion */

/* #region Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* #endregion */