.sidebar {
  background-color: darkslategrey;
  padding: 20px;
  border-radius: 5px;
  margin-top: 80px;
  color: white;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.puzzle-label {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: goldenrod;
  border: 2px solid goldenrod; 
}

.custom-checkbox:focus {
  outline: 1px solid goldenrod;
}