.signup-container 
{
  max-width: 400px;
  margin: auto;
  padding-top: 40px;
  
  .form-group 
  {
    margin-bottom: 15px;
  }
  
  label 
  {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .text-boxes
  {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid grey;
  }

  .text-boxes:focus
  {
    outline: none;
    border: 2px solid darkslategray;
  }
  
  button 
  {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 0px;
    background-color: darkslategray;
    border: 2px solid darkslategray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover 
  {
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
}